spring:
  application:
    name: chaekmate-search

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true


management:
  endpoints:
    web:
      exposure:
        include: health, info